@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CROSS | STACK EXCHANGE</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Eduardo López M.</h2>
        <p>

           ed.lopez.morin@gmail.com
        </p>

        <i>(edulopez)</i> 
    </div>
    <div class="col-md-4">
       </div>
    <div class="col-md-4">
        </div>
</div>